*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
figure{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
img{
    max-width: 100%;
}
nav.sidebar.navbar.navbar-expand-sm.navbar-wrapper{
    width: 100%;
}
ul.navbar-nav{
    width: 100%;
}
.home-logo {
    background-color: black;
    text-align: center;
    max-height: fit-content;
    padding: 1.5em 0 1em 0;
}
.home-logo h1 a{
    padding-top: 30px;
    text-decoration: none;
    font-size: 50px;
}
.home-logo h1 a:hover{
    color: white;
}
.home-logo .fa{
    font-size: inherit;
    display: inline-block;
    color:white;
}

.home-logo a{
    display: inline-block;
    text-decoration: none;
    font-size: 0.9em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
    transition: top ease 0.5s;
}
li.nav-item{
    color: #fff ;
}
#dropdown {
	appearance: none;
	padding: 5px;
	background-color: #4834d4;
	color: white;
    	border: none;
	font-family: inherit;
	outline: none;
}
 /* .container .col-md-6 {
    padding-left: 80px;
}  */
 .home-logo a:hover{
    columns: white;
}
.navbar-wrapper .nav-item{
     float: left; 
     display: flex;
    padding:0px 25px;
    position: relative;
    align-items: center;
} 
 .home-logo .fa.fa-phone{
    color: white;
    border: none;
    padding-right: 1em;
}
.navbar-wrapper{
    align-items: center;
}
.nav-item a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}
.nav-item .contact{
    position: relative;
    text-decoration: none;
}
.nav-item .contact::before{
    content: " ";
    width: 2px;
    position: absolute;
    left: -20px;
    background-color: #4a4a4a;
    height: 15px;
    top: 4px;
}
.nav-item .contact::after{
    display: none;
}
.nav-item a:hover{
    color: #ff9000;
}
.nav-item a.blog::before{
    display: none;
}
.nav-item a::after{
    content: " ";
    position: absolute;
    width: 2px;
    background: #4a4a4a;
    height: 15px;
    right: 0;
    top: 16px;
    transform: translateY(-9%);
} 
 .number{
    color: white;
    display: inline-block;
    font-family: '-apple-system, BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 0px;
    margin: 0;
    margin-bottom: 5px;
}
.navbar-nav .fa-phone{
    padding-left: 350px;
}
.dropdown-menu .dropdown-item{
    color: black;
    width: 100%;
}
.dropdown-menu .dropdown-item:hover{
    background-color: turquoise;
    color: #000;
}
.dropdown .blog::after{
    content: " ";
    display: none;
}
.dropdown .blog{
    text-decoration: none;
    cursor: pointer;
}
img.carousel-image{
    height: calc(100vh - 220px);
    width: 100%;
    object-fit: cover;
}
.span.carousel-control-prev-icon{
    align-items: center;
}
h3.design {
    text-align: left;
    font-size: 3.3em;
    letter-spacing: 15px;
    font-weight: 400;
    margin-left: -9px;
}

.carousel-caption{
    margin-bottom: 170px;
    text-align: left;
    align-items: flex-start;
}
.image-wrapper {
    position: relative;
}
.image-wrapper::before{
    position: absolute;
    left: 0px;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0,0, 0.4);
    content: '';
}
.carousel-caption .delievery{
    font-weight: 700;
    font-size: 1.3em;
    color:#00acee;
    letter-spacing: 8px;
}
p.suit {
    text-align: left;
    letter-spacing: 15px;
    margin-top: 22px;
    font-weight: 700;
    font-size: 1.5em;
    color: aqua;
}
.button-wrapper{
    position: absolute;
    margin-top: 20px;
    
}
a.btn.btn-primary.btn-lg {
    background-color: #ffb910;
    border: none;
    padding: 0.6em 1em;
    border-radius: 0px;
    display: inline-block;
}
a.btn.btn-primary.btn-lg:hover{
    background-color:#337ab7;
}
h2.blue-black-heading {
    font-size: 2.5em;
    font-weight: 300;
    font-family: 'Work Sans', sans-serif;
    color:inherit;
    padding-left: 0px;
    text-align: center;
    vertical-align: middle;
    padding-top: 60px;
    letter-spacing: 5px;
}
h2.blue-black-heading{
    font-size: 2.8em;
    color: #262c38;
    font-weight: 600;
    text-align: center;
    position: relative;
    letter-spacing: 1px;
    font-family: 'Work Sans', sans-serif;
}
.service-icons .col-md-4:hover .pera p{
    color: #fff;
}
.service-icons .col-md-4:hover .color-head h5{
    color:#fff;
}
.service-icons .col-md-4:hover .fa{
    background-color: #fff;
    color: black;
}
.color-head h5{
    color: #ffb910;
}
h2.blue-white-heading{
    color: #fff;
}
span.stich{
    font-size: 1.2em;
    font-weight: 700;
    color: #00acee;
}   
span.stich::after{
    border-top: 2px solid #eb5424;
    display: block;
    width: 80px;
    content: "";
    margin: 8px auto 0;
}
.client .carousel-indicators > li {
    border-radius: 50%;
    height: 15px;
    width: 15px;
    background-color: black;
  }
.about-content{
    display: flex;
    padding-top: 100px;
}
 .about-client span.stich{
    color: #fff;
}
.left-content{
    width: 45%;
}
.left-content h3{
    font-size: 1.6em;
    color: #333332;
    font-family: 'Work Sans', sans-serif;
}
.left-content p{
    font-size: 17px;
    color: #717171;
    line-height: 2em;
    word-spacing: 1px;
}
.right-content{
    width: 55%;
}
.wrapper-image{
    top: 0;
    left: 250px;
}
.wrapper-image img{
    width: 100%;
    max-width: 500px;
    max-height: 500px;
}
.btn-wrap{
        margin-top: 20px;
}
a.btn.btn-primary.btn-sm {
    background-color: #ffb910;
    border: none;
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    font-size: 15px;
    padding: 1em 1.5em;
    border-radius: 0px;
    display: inline-block;
}

a.btn.btn-primary.btn-sm:hover{
    background-color:#337ab7;
}
.services{
    background-color: #000;
    padding: 20px 0;
    margin-top: 40px;
}
/* .service-heading h2{
    font-size: 1.7em;
    font-weight: 600;
    text-align: center;
} */
.service-icons .fa{
    border: 1px solid #efefef;
    font-size: 2em;
    color: #fff;
    padding: 30px 30px;
    margin-top: 40px;
    justify-content: center;
}
.service-icons{
    cursor: pointer;
    text-align:center;
}
h5{
    font-size: 1.2em;
    font-family: 'Work Sans', sans-serif;
    font-weight: 900;
    padding-top: 20px;
    letter-spacing: 5px;   
    /* text-align: center; */
    color: #ffb910;
}
/* h5:hover{
    color: #fff;
} */
.pera p{
    padding-top: 20px;
    text-align: center;
    color: #808489;
    font-size: 1em;
}
.pera p:hover{
    color: #fff;
}
.member-photo{
    padding-top: 50px;
}
.member-name h4{
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 1.4em;
    color: #212121;
    
}
.post-member h5{
    color: #00acee;
    font-size: 1.1em;
    margin: 0;
    padding: 0;
    text-align: center;
    letter-spacing: 0px;
    font-family: 'Work Sans', sans-serif;
}

.social-icons{
    color: black;
}
.social-icons ul li {
    display: inline-block;
}
.social-icons .fa{
    color: black;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 0px;
}
.social-icons .fa:hover{
    color: #ff9000;
}
.gallery{
    margin-top: 50px;
}
.gallery .container-fluid {
    padding: 0px !important;
}
.gallery-col{
    width: 25%;
}
.gallery-inner{
    display: flex; 
    flex-wrap: wrap;
    margin-top: 50px;
}
.gallery-col img{
    object-fit: cover;
    width: 100%;
    transition: all 0.3s ease-in-out;
}
.gall-image{
    overflow: hidden;
}
.gall-image img:hover{
    transform: scale(1.2);
}
 .gallery-col:nth-child(1) img, .gallery-col:nth-child(3) img{
    height: 550px;
}
.gallery-col:nth-child(2) img, .gallery-col:nth-child(4) img{
    height: 275px;
}
.offers .col-md-6 {
    padding-left: 0px;
}
.offer-heading h4{
    font-size: 1.5em;
    color: #333;
    margin-top: 50px;
    margin-bottom: 1em;
    font-weight: 800;
    letter-spacing: 5px;
    font-family: 'Work Sans', sans-serif;
}
.offer-photos .carousel-inner
.panel p {
        margin-top: 20px;
        width: 90%;
        color: #666;
    }
.offer-names{
    margin-top: -10px;
}
.accordion {
    background-color: #000;
    color: #fff;
    cursor: pointer;
    padding: 18px;
    border: none;
    font-family: 'Work Sans', sans-serif;
    width: 90%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1em;
    transition: 0.4s;
    margin-top: 20px;
  }  
  .accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: left;
    margin-left: 5px;
    padding-right: 15px;
  }
  .accordion.active:after {
    content: "\2212";
  }
  .column {
    float: left;
    width: 25%;
    padding: 10px;
  }
  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    width: 90%;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
.offer-photos .carousel-inner{
    display: inline-flex;
    margin-left: 16px;
}
.offer-photos .carousel-inner img{
    width: 100px;
    height: 100px;
    padding-right: -10px;
}
.active:after {
    content: "";
    background: none;
}
.closebtn{
    display: none;
}
.offer-photos .container{
    width: 100%;
    margin-left: 15px;
}
.sale{
    background: url('banner4.jpg');
    background-size: cover;
    background-position: fixed;
    margin-top: 100px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 100px;
}
.sale h6{
    font-size: 3em;
    word-spacing: 5px;
    font-weight: 200;
    font-family: 'Work Sans', sans-serif;
    color: #fff;
    padding-top: 3em;
    margin-bottom: 0.8em;

}
.sale .sale-task{
    text-align: center;
    padding-left: 0px;
}
.sale span{
    color: aqua;
    font-weight: 800;
}
.pricing-plans .top-card{
    background-color: rgb(254,184,0);
}
.offer-photos .col-sm-3{
    padding: 0px;
}
.offer-photos .container{
    padding-left: 0px;
    padding-right: 0px;
}
.top-card h3{
    font-weight: 100;
    color: #fff;
    font-size: 2em;
    font-family: 'Work Sans', sans-serif;
    padding-top: 20px;
}
.top-card .money{
    /* padding-top: 30px; */
    padding-right:0px;
    padding-bottom: 5px;
}
.top-card .m1{
    font-size: 4em;
    font-weight: 600;
    color: #fff;
}
.top-card  p{
    color: #fff;
    font-size: .875em;
}
/* .top-card:hover{
    background-color: #00acee;
} */
.pricing-plans .row .col-sm-4:nth-child(1) .middle{
    background-color: rgba(255, 255, 255, 0.75);
}
.pricing-plans .row .col-sm-4{
    margin-top: 50px;
    overflow: hidden;
}
.pricing-plans .row .col-sm-4:hover{
    transition: all 0.3s ease-in-out;
}
.pricing-plans .row .col-sm-4:nth-child(1):hover .top-card, .pricing-plans .row .col-sm-4:nth-child(2):hover .top-card, .pricing-plans .row .col-sm-4:nth-child(3):hover .top-card{
    background-color: #00acee;
}
.pricing-plans .row .col-sm-4:nth-child(1):hover .bottom .btn, .pricing-plans .row .col-sm-4:nth-child(2):hover .bottom .btn, .pricing-plans .row .col-sm-4:nth-child(3):hover .bottom .btn{
    background-color: #00acee;
}
.pricing-plans .row .col-sm-4:nth-child(2) .top-card{
    background-color: #e91e63;
}
.pricing-plans .row .col-sm-4:nth-child(3) .top-card{
    background-color: #6cbc35;
}
.pricing-plans .row .col-sm-4:nth-child(1) .bottom .btn{
    background-color: #ff9000;
    border-radius: 0px;
    color:#fff;
    padding: 0.7em 1.5em;
}
.pricing-plans .row .col-sm-4:nth-child(2) .bottom .btn{
    background-color: #e91e63;
    border-radius: 0px;
    color:#fff;
    padding: 0.7em 1.5em;
}
.pricing-plans .row .col-sm-4:nth-child(3) .bottom .btn{
    background-color: #6cbc35;
    border-radius: 0px;
    color:#fff;
    padding: 0.7em 1.5em;
}
.pricing-plans .row .col-sm-4{

    padding-bottom: 30px;
    margin-left: 0px;
}
.pricing-plans .row .col-sm-4:nth-child(1) .middle, .pricing-plans .row .col-sm-4:nth-child(2) .middle, .pricing-plans .row .col-sm-4:nth-child(3) .middle{
    background-color: rgba(255, 255, 255, 0.75);
}
.top-card .s2{
    top: 5px;
    color: #fff;
    font-weight: 100;
}
.single-card{
    padding-top: 50px;
}
.middle{
    background: rgba();
    padding: 4em 2em;
}
.middle p{
    font-size: 1em;
    letter-spacing: 1px;
    color: grey;
    font-weight: 600;
}
span.black {
    color: #000000;
}
.bottom{
    padding-top: 30px;
}
.client{
    padding-top: 20px;
    padding-bottom: 150px;
    background-color: #00acee;
}
.client h5{
    color: #000;
    padding-top: 100px;
    /* padding-right: 305px; */
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
}
.client p{
    color: #efefef;
    font-size: 1.1em;
    line-height: 2em;
    letter-spacing: 1px;
    /* padding-left: 100px; */
}
/* .btn-wrapper {
    padding-left: 96px;
} */
.client-review {
    padding-left: 0px;
    max-width: 500px;
}
.client-review a.btn{
    color:white;
    background-color: #ffb910;
    border-radius: 0px;
    border: none;
    padding: 0.6em 1em;
}

.client-content {
    text-align: center;
    padding: 3em 20px;
    width: 100%;
    border: 3px solid #027faf;
}
.client-content h4{
    padding: 15px 0px;
}
.client-content p{
    max-width: 310px;
    font-size: 0.8em;
    margin: 0 auto ;
}
.client-review a.btn:hover{
    color:black;
    background-color: transparent;
    border: none;
    border-radius: 0px;
}
.carousel-item.active {
    background: none;
}
.client-pic .carousel-control-next{
    visibility: hidden;
}
.client-pic .carousel-control-prev{
    visibility: hidden;
}
.client-pic .carousel-indicators{
    position: relative;
    top: 410px;
}
.client-pic .carousel-caption h4{
    color: #212121;
    font-size: 2em;
}
.rounded-circle{
    height: 100px;
}
input[type="text"]{
    margin-bottom: 1em;
    color: #888;
    border: 1px solid #dedede;
    /* padding-right: 135px; */
    width: 100%;
    padding-left: 15px;
    padding-top: 15px;
    background: #f9fcfd;
    padding-bottom: 15px;    
}
input[type="email"]{
    margin-bottom: 1em;
    color: #888;
    width: 100%;
    border: 1px solid #dedede;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    background: #f9fcfd;
    /* padding-right: 135px; */
}
textarea{
    /* height: 100%; */
    background: #f9fcfd;
    max-height: 100px;
    padding-top: 20px;
    padding-left: 15px;
    border: 1px solid #dedede;
    width:100%;
}
input#submit{
    background-color: #ffb900;
    color: #fff;
    text-decoration: none;
    border: 2px solid #ffb900;
    padding: 13px 65px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 20px;
}
input#submit:hover{
    background: #00acee;
    border: 2px solid #00acee;
}
.address .fa.fa-map-marker, i.fa.fa-clock-o, i.fa.fa-phone, i.fa.fa.fa-envelope-o{
    border: 10px solid black;
    background-color: black;
    border-radius: 50%;
    color: white;
}
.offer-heading p .sub{
    color: #949393!important;
    margin-left: 15px;
}
p.sub, p.tel, p.mail {
    margin-left: 15px;
}

iframe {
    padding-top: 100px;
    width: 100%;
}
.coupons .row{
    margin: 0;
    padding: 0;
}
.coupons .col-md-3{
    padding-left: 48px;
    margin-bottom: 1em;
}
.coupons{
    background-color: #00acee;
    padding: 4em 0;
    margin-top: 2px;
}
.coupon-wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.coupon-wrap{
    border: 2px solid black;
    width: 20%;
    background-color: black;
    color: #fff;
}
.left1 .fa:hover{
    transition: all 0.3s ease-out;
    background-color: #ffb900;
}
.left1 .fa{
    font-size: 1.5em;
    background-color: black;
    color: white;
    width: 70px;
    height: 70px;
    float: left;
    padding-top: 20px;
}
.left2 h3{
    font-size: 0.9em;
    color: #fff;
    margin: 0em 0 0.5em;
    letter-spacing: 1px;
    font-weight: 600;
    font-family: 'Work Sans', sans-serif;
}
.left2{
    text-align: left;
    padding-left: 6.5em;
}
.left2 p{
    padding-top: 0.3em;
    color: #02687e;
    font-size: 1em;
    line-height: 1em;
}

/* Media Queries */

@media(max-width:1366px){
    .home-logo .fa.fa-phone{
        padding-left: 100px;
    }
    .carousel-caption{
        top: 10px;
    }
    /* .sale h6{
        padding-top: 2em;
    } */
    .client p{
        /* padding-left: 90px; */
    }

    .client-content p{
        text-align: center;
        font-size: 1em;
        padding: 0px
    }
    .social-icons{
        margin-left: -13px;
    }
    .client-content{
        margin-left: 0px;
        width: 100%;
    }
    /* .client-pic .carousel-indicators{
        top: 438px;
    } */
    h3.design{
        padding-top: 68px;
        font-size: 2.3em;
    }
    .carousel-caption .delievery{
        font-size: 1.2em;
    }
    p.suit{
        font: 1.3em;
    }
}
@media(max-width:1199px){
    h3.design{
        padding-top: 68px;
        font-size: 2.3em;
    }
    .carousel-caption .delievery{
        font-size: 1.2em;
    }
    p.suit{
        font: 1.3em;
    }
}
@media(max-width:1199px){


}
@media(max-width:1140px){
    

}
@media(max-width:1024px){
    .home-logo .fa.fa-phone{
        padding-left: 100px;
    }
    ul.navbar-nav{
        justify-content: center;
    }
    .carousel-caption{
        top: 10px;
    }
    h2.blue-black-heading{
        font-size: 2.5em;
    }
    .sale{
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .sale-task{
        padding-left: 20px;
    }
    .sale .btn-wrap{
        margin-left: 0px;
    }
    .sale h6{
        padding-left: 0px;
        padding-top: 0px;
    }
    .client p{
        /* padding-left: 46px; */
    }
    .client-content p{
        text-align: center;
        font-size: 1em;
        padding: 0px;
    }
    /* .sale h6{
        padding-left: 42px;
    } */
    .social-icons{
        margin-left: -13px;
    }
    /* .btn-wrapper{
        padding-left: 45px;
    } */
    .client-content{
        margin-left: 0px;
        width: 100%;
    }
    /* .client-pic .carousel-indicators{
        top: 438px;
    } */
}
 @media(max-width:1024px){
    .home-logo{
        padding: 0 0 1em 0;
    }
    .nav-item a::after{
        display: none;
    }
    .nav-item .contact::before{
        display: none;
    }
    .home-logo .fa.fa-phone{
        padding-left: 0px;
        padding-top: 4px;
    }
    .number{
        margin-top: 7px;
    }
    .left1 .fa{
        margin-bottom: 0.5em;
    }
    .client-pic .carousel-indicators{
        top: 450px;
    }
}
@media(max-width:768px){
    .banner a.carousel-control-next{
        display: none;
    }
    .banner a.carousel-control-prev{
        display: none;
    }
    .banner .carousel-caption{
        left: 25px;
        right: 0px;
    }
    .about-content{
        display: block;
        padding-top: 20px;
    }
    .left-content{
        width: 100%;
    }
    .right-content{
        width: 100%;
    }
    .wrapper-image{
        margin-left: 80px;
    }
    .client-pic .carousel-indicators{
        top: 450px;
    }
    .social-icons ul{
        padding-left: 57px;
    }
    input[type="text"]{
        width: 100%;
        /* min-width: 700px; */
    }
    input[type="email"]{
        width: 100%;
        /* min-width: 700px; */
    }
    textarea{
        width: 100%;
        /* min-width: 700px; */
    }
    a.btn.btn-primary.btn-lg{
        padding: 0.5em 0.5em 0.5em 0.5em;
        font-size: 1em;
    }
}

@media(max-width:425px){
    .home-logo h1 a{
        font-size: 37px;
    }
    nav.sidebar.navbar.navbar-expand-sm.navbar-wrapper{
        display: none;
    }
    .about-wrapper h2.blue-black-heading{
        font-size: 1.8em;
        padding-top: 0px;
    }
    .about-wrapper{
        padding-top: 46px;
    }
    .about-content{
        display: block;
        padding-top: 20px;
    }
    .member-photo{
        padding-left: 48px;
    }
    .left-content{
        width: 100%;
    }
    .right-content{
        width: 100%;
        padding-top: 20px;
    }
    /* .client-pic .carousel-indicators{
        top: 0px;
    } */
    .wrapper-image{
        margin-left: 80px;
    }
    .social-icons{
        padding-left: 44px;
    }
    .client h5{
        padding-top: 0px;
    }
    .client-content {
        padding: 1em;
    }
    .client-review{
        text-align: center;
        padding-left: 0px;
        padding-top: 16px;
    }
    .about-client h2.blue-black-heading{
        padding-top: 10px;
        font-size: 1.8em;
    }
    .offer-heading h4{
        padding-left: 25px;
    }
    .accordion{
        margin-left: 26px;
        padding: 10px;
    }
}
@media(max-width:500px){
    .home-logo h1 a{
        font-size: 37px;
    }
    nav.sidebar.navbar.navbar-expand-sm.navbar-wrapper{
        display: none;
    }
    .about-wrapper h2.blue-black-heading{
        padding-top: 0px;
        font-size: 1.8em;
    }
    .about-wrapper{
        padding-top: 46px;
    }
    .about-content{
        display: block;
        padding-top: 20px;
    }
    .member-photo{
        padding-left: 48px;
    }
    .social-icons{
        padding-left: 44px;
    }
    .left-content{
        width: 100%;
    }
    .right-content{
        width: 100%;
        padding-top: 20px;
    }
    .client h5{
        padding-top: 0px;
    }
    .client-content {
        padding: 1em;
    }
    .client-pic .carousel-indicators{
        top: 380px;
    }
    .client-review{
        text-align: center;
        padding-left: 0px;
        padding-top: 16px;
    }
    .offer-heading h4{
        padding-left: 0px;
    }
    .accordion{
        margin-left: 26px;
        padding: 10px;
    }
    .about-client h2.blue-black-heading{
        padding-top: 10px;
        font-size: 1.8em;
    }
    .offer-heading h4{
        margin-top: 15px;
        padding-left: 25px;
    }
    .panel{
        margin-left: 26px;
    }
}